/*
 *
 * Project Name: Manten - Style 8
 * URL: http://templatesuper.com
 * Version: 1.1
 *
 * Author: Adnan
 *
 */
@import url(https://fonts.googleapis.com/css?family=Varela+Round);
@import url(https://fonts.googleapis.com/css?family=Pontano+Sans);
@import url(http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
.pace {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-pointer-events: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
  background: #c96d6e;
}

body,
html {
  height: 100%;
  min-height: 100%;
}

body {
  font-family: 'Pontano Sans', sans-serif;
  font-size: .6rem;
  position: relative;
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  color: #828282;
}

a,
a:visited,
a:focus,
a:active,
a:hover,
button:focus {
  outline: 0 none !important;
}

/*
  #########################################################################
  #
  Header 8
  #########################################################################
*/
.header-08 {
  height: 100%;
}

.header-08 .container-fluid {
  padding: 0;
}

.header-08 .flexslider .slides > li {
  display: none;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.header-08 .flex-viewport,
.header-08 .flexslider-container,
.header-08 .flexslider .slides {
  height: 100%;
}

.header-08 ul.slides {
  margin: 0;
  padding: 0;
}

.header-08 .flexslider {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

.header-08 .flex-control-nav {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-left: 0;
  text-align: center;
}

.header-08 .flex-control-nav li {
  display: inline-block;
  zoom: 1;
  margin: 0 6px;
  *display: inline;
}

.header-08 .flex-control-paging li a {
  display: block;
  width: 6px;
  height: 6px;
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}

.header-08 .flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7);
}

.header-08 .flex-control-paging li a.flex-active {
  cursor: default;
  background: #000;
  background: rgba(0, 0, 0, 0.9);
}

.header-08 .navbar {
  border-color: transparent;
  background: transparent;
}

.header-08 .navbar .navbar-toggle {
  border: transparent;
}

.header-08 .navbar-header {
  float: none;
}

.header-08 .navbar-toggler {
  font-size: 1.5rem;
  position: absolute;
  top: 10px;
  left: 0;
  display: block;
  color: #777;
}

.header-08 .navbar-collapse.collapse {
  display: none !important;
}

.header-08 .navbar-nav {
  display: block;
  float: none !important;
}

.header-08 .navbar-nav > li {
  display: block;
  float: none;
}

.header-08 .collapsing,
.header-08 .navbar-collapse.collapse.show {
  position: absolute;
  top: 45px;
  left: 22px;
  display: block !important;
  width: 180px;
  text-align: center;
  background: #c96d6e;
}

.header-08 .collapse.show .navbar-nav > li,
.header-08 .collapsing .navbar-nav > li {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header-08 .collapse.show .navbar-nav > li,
.header-08 .collapsing .navbar-nav > li {
  display: block;
  border-bottom: 1px dashed #d48b8c;
}

.header-08 #navbar .navbar-nav li a.active,
.header-08 #navbar .navbar-nav li a.active:focus,
.header-08 #navbar .navbar-nav li a.active:hover {
  color: #555;
  background-color: #000;
}

.header-08 #navbar .navbar-nav > li > a {
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
}

.header-08 #navbar .navbar-nav > li > a:hover {
  color: #555;
}

.header-08 #navbar .navbar-collapse,
.header-08 #navbar .navbar-form {
  border: none;
}

.header-08 #navbar .navbar-toggle:focus,
.header-08 #navbar .navbar-toggle:hover {
  background: transparent;
}

.header-08 .caption {
  position: absolute;
  z-index: 99;
  bottom: 10%;
  left: 0;
  color: #fff;
}

.header-08 .caption h1 {
  font-family: 'Varela Round', sans-serif;
  font-size: 4em;
  font-weight: bold;
  margin: 0;
  padding: 30px 150px;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: #c96d6e;
  text-shadow: 0 1px 2px #555;
}

.header-08 .caption h6 {
  font-size: 1.2em;
  letter-spacing: 3px;
  text-transform: uppercase;
}

/*
  #########################################################################
  #
  Story 8
  #########################################################################
*/
.story-08 {
  padding: 120px 0;
}

.story-08 h3 {
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
  color: #444;
}

.story-08 h3,
.story-08 h5 {
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.story-08 h5 {
  font-weight: bold;
  color: #828282;
}

.story-08 .title {
  margin-bottom: 50px;
}

.story-08 .boxstory {
  padding: 30px;
  text-align: center;
  border: 1px dashed #dedede;
  background: #f2f2f2;
}

.story-08 .boxstory p {
  font-size: 1.6em;
  line-height: 28px;
}

/*
  #########################################################################
  #
  Wedding 8
  #########################################################################
*/
.wedding-08 {
  width: 100%;
  padding: 120px 0;
  background: #000;
}

.wedding-08 .bg-top {
  text-align: center;
  color: #fff;
}

.wedding-08 p {
  font-size: 1.6em;
  line-height: 28px;
  margin-bottom: 0;
}

.wedding-08 .btn-default {
  margin-top: 30px;
  padding-right: 30px;
  padding-left: 30px;
  letter-spacing: 2px;
  color: #fff;
  border: 1px solid #c96d6e;
  border-radius: 0;
  background: #c96d6e;
}

.wedding-08 .btn-default:hover {
  color: #c96d6e;
  border: 1px solid #c96d6e;
  background: transparent;
}

.wedding-08 h3 {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.wedding-08 h4 {
  font-family: 'Varela Round', sans-serif;
  font-size: 3.1em;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/*
  #########################################################################
  #
  Accomm 08
  #########################################################################
*/
.accomm-08 {
  padding: 120px 0;
}

.accomm-08 .box {
  padding: 20px;
  text-align: center;
  border: 1px dashed #dedede;
  background: #f1f1f1;
}

.accomm-08 h3 {
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
  margin-bottom: 50px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #444;
}

.accomm-08 h5 {
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
  margin-top: 20px;
  padding-left: 320px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #444;
}

.accomm-08 p {
  font-size: 1.6em;
  line-height: 28px;
  margin-bottom: 0;
  padding-left: 320px;
}

.accomm-08 img {
  float: left;
  width: 300px;
}

/*
  #########################################################################
  #
  Registry 08
  #########################################################################
*/
.registry-08 {
  padding: 120px 0;
  background: #f5f5f5;
}

.registry-08 h3 {
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
  margin-bottom: 50px;
  letter-spacing: 2px;
  color: #444;
}

.registry-08 img {
  width: 100%;
  padding: 20px;
}

.registry-08 ul.slides {
  margin: 0;
  padding: 0;
}

.registry-08 .flexslider {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

.registry-08 .flex-control-nav {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-left: 0;
  text-align: center;
}

.registry-08 .flex-control-nav li {
  display: inline-block;
  zoom: 1;
  margin: 0 6px;
  *display: inline;
}

.registry-08 .flex-control-paging li a {
  display: block;
  width: 6px;
  height: 6px;
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}

.registry-08 .flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7);
}

.registry-08 .flex-control-paging li a.flex-active {
  cursor: default;
  background: #000;
  background: rgba(0, 0, 0, 0.9);
}

/*
  #########################################################################
  #
  RSVP 08
  #########################################################################
*/
.rsvp-08 {
  padding: 120px 0;
  color: #fff;
  background: #000;
}

.rsvp-08 h3 {
  font-family: 'Varela Round', sans-serif;
  font-size: 3.3em;
  font-weight: bold;
  margin-bottom: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
}

.rsvp-08 p {
  font-size: 1.6em;
  line-height: 28px;
  margin-bottom: 40px;
}

.rsvp-08 form {
  position: relative;
}

.rsvp-08 .form-control {
  width: 400px;
  height: 50px;
  margin-right: 20px;
  border-radius: 0;
}

.rsvp-08 .btn-default {
  height: 50px;
  padding-right: 30px;
  padding-left: 30px;
  letter-spacing: 2px;
  color: #fff;
  border: 1px solid #c96d6e;
  border-radius: 0;
  background: #c96d6e;
}

.rsvp-08 .btn-default:hover {
  color: #c96d6e;
  border: 1px solid #c96d6e;
  background: transparent;
}

.rsvp-08 ::-webkit-input-placeholder {
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.rsvp-08 :-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
}

.rsvp-08 ::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
}

.rsvp-08 :-ms-input-placeholder {
  text-align: center;
}

footer {
  line-height: 20px;
  padding: 50px 0;
  text-align: center;
  letter-spacing: 2px;
  color: #828282;
  border-top: 1px solid #dedede;
}

.scroll-to-top a {
  font-size: 20px;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  color: #fff;
}

.scroll-to-top {
  position: fixed;
  z-index: 9999;
  right: 20px;
  bottom: 20px;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  text-align: center;
  opacity: 0;
  border-radius: 4px;
  background: #c96d6e;
  filter: alpha(opacity=0);
}

.scroll-to-top.affix {
  opacity: .5;
  filter: alpha(opacity=50);
}

.affix {
  position: fixed;
}

/*
  ---------------------------------------------------
  Large Devices, Wide
  Screens
  -----------------------------------------------------
*/
@media only screen and (max-width: 1200px) {
  .header-08 .caption h1 {
    font-size: 2.3em;
    padding: 20px;
    text-shadow: 0 1px 2px #555;
  }
  .header-08 .caption h6 {
    text-shadow: 0 1px 2px #555;
  }
  .header-08 .caption {
    left: 0;
    width: 40%;
  }
  .header-08 .box {
    padding: 35% 20px;
  }
}

/*
  --------------------------------------------------
  Medium Devices,
  Desktops
  ----------------------------------------------------
*/
@media only screen and (max-width: 992px) {
  .header-08 .caption h1 {
    font-size: 2.3em;
    padding: 20px;
    text-shadow: 0 1px 2px #555;
  }
  .header-08 .caption h6 {
    text-shadow: 0 1px 2px #555;
  }
  .header-08 .caption {
    left: 0;
    width: 50%;
  }
  .header-08 .box {
    padding: 170px 20px;
  }
}

/*
  -------------------------------------------------
  Small Devices,
  Tablets
  ---------------------------------------------------
*/
@media only screen and (max-width: 768px) {
  .header-08 .caption h1 {
    font-size: 4em;
    padding: 20px;
    text-shadow: 0 1px 2px #555;
  }
  .header-08 .caption h6 {
    text-shadow: 0 1px 2px #555;
  }
  .header-08 .caption {
    left: 0;
    width: 70%;
  }
  .header-08 .box {
    padding: 130px 20px;
  }
  .registry-08 .flex-control-nav {
    bottom: -10px;
  }
}

/*
  ------------------------------------------------
  Mobile
  -------------------------------------------------
*/
@media only screen and (max-width: 480px) {
  .container {
    padding-right: 20px;
    padding-left: 20px;
  }
  .header-08 .caption h1 {
    font-size: 3em;
    padding: 20px;
    text-shadow: 0 1px 2px #555;
  }
  .header-08 .caption h6 {
    text-shadow: 0 1px 2px #555;
  }
  .header-08 .caption {
    left: 0;
    width: 90%;
  }
  .header-08 .box {
    padding: 110px 20px;
  }
  .registry-08 .flex-control-nav {
    bottom: -10px;
  }
  .wedding-08 h4 {
    font-size: 2.4em;
  }
  .accomm-08 img {
    width: 100%;
    margin-bottom: 20px;
  }
  .accomm-08 h5,
  .accomm-08 p {
    padding-left: 0;
  }
  .rsvp-08 .form-control {
    width: 100%;
  }
  .rsvp-08 form {
    position: relative;
    display: block;
  }
}
